.main_index{
    width: 90%;
    margin: 0 auto;
}
.main_div_index{
    border: 1px solid #d1d1d1;
    margin-bottom: 15px;
}
.title_index{
    background: #e8e8e8;
    height: 25px;
    padding: 2px 0px 0px 10px;
}
.description_index{
    background: #fff;
    height: 100px;
    padding:10px;
}
.author_linc_index{
    background: #e8e8e8;
    height: 25px;
    text-align: right;
    padding: 3px 10px 0px 0px;
}